<!DOCTYPE html>
{% extends "base.html" %}
<html>
<head>
    <title>Calculator</title>
    <style>

    </style>



</head>
<body>
    {% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <div class="calculator">
        <input type="text" id="result" disabled>
        <div class="buttons">
            <button onclick="clearResult()">C</button>
            <button onclick="deleteLast()">DEL</button>
            <button class="operator" onclick="appendValue('%')">%</button>
            <button class="operator" onclick="appendValue('/')">/</button>
            <button class="number" onclick="appendValue('7')">7</button>
            <button class="number" onclick="appendValue('8')">8</button>
            <button class="number" onclick="appendValue('9')">9</button>
            <button class="operator" onclick="appendValue('*')">*</button>
            <button class="number" onclick="appendValue('4')">4</button>
            <button class="number" onclick="appendValue('5')">5</button>
            <button class="number" onclick="appendValue('6')">6</button>
            <button class="operator" onclick="appendValue('-')">-</button>
            <button class="number" onclick="appendValue('1')">1</button>
            <button class="number" onclick="appendValue('2')">2</button>
            <button class="number" onclick="appendValue('3')">3</button>
            <button class="operator" onclick="appendValue('+')">+</button>
            <button style="width: 42.5%;" class="number" onclick="appendValue('0')">0</button>
            <button class="number" onclick="appendValue('.')">.</button>
            <button class="operator" onclick="calculateResult()">=</button>
        </div>
    </div>

    <script>
        function appendValue(value) {
            document.getElementById('result').value += value;
        }

        function calculateResult() {
            let result = document.getElementById('result').value;

            try {
                document.getElementById('result').value = eval(result);
            } catch (error) {
                document.getElementById('result').value = 'Error';
            }
        }

        function clearResult() {
            document.getElementById('result').value = '';
        }

        function deleteLast() {
            let currentValue = document.getElementById('result').value;
            document.getElementById('result').value = currentValue.slice(0, -1);
        }

    </script>
    {% endblock %}
</body>
</html>